<div fxLayout="column" fxLayoutAttribute="center center" class="signup-form">
  <h2>
  {{title}}
</h2>
<h4>
  {{child_message}}
</h4>
<button mat-raised-button color="primary" (click)="handleClick()">
  Ez egy gomb
</button>
<ul>
  <li *ngFor="let book of books" (click)="buyBook(book)">
    {{book}}
  </li>
</ul>
<h2 *ngIf="title === 'WebKeret03'">
  Ez most látszódik
</h2>
<input matInput type='text' placeholder='szoveg' [(ngModel)]='title'>
<div>
  <app-string-ops></app-string-ops>
</div>
<div>
  <app-first-child [title]="title" (saysomething)="onChildMessage($event)"></app-first-child>
</div>
<div>
  <app-reactive-form></app-reactive-form>
</div>
</div>
