<section fxLayout="row" fxLayoutAlign="center center" style="padding: 5px">
<input type='text' placeholder='szoveg1' [(ngModel)]='str1'>
<input type='text' placeholder='szoveg2' [(ngModel)]='str2'>
<button (click)='concat()'>CLICK</button>
{{result}}
</section>

<section fxLayout="column" fxLayoutAlign="center center" style="padding: 5px">
<button mat-raised-button color="primary" [routerLink]="['/template-form']">
    Template Form
</button>
<button mat-raised-button color="info" [routerLink]="['/reactive']">
    Reactive Form
</button>
<button mat-raised-button color="primary" (click)="navigateToFirstChild()">
    First Child Component
</button>
</section>